In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.preprocessing import OrdinalEncoder

In [2]:
imdb = pd.read_csv("imdb_top_1000.csv")

In [3]:
imdb.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
imdb.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [5]:
#dropping extra columns
imdb = imdb.drop(['Poster_Link','Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'], axis = 1)

In [6]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
dtypes: float64(2), object(7)
memory usage: 70.4+ KB

#### handling null values - meta score and certificate

In [7]:
imdb.Meta_score = imdb.Meta_score.fillna(imdb.Meta_score.mean())

In [8]:
imdb.Meta_score[20] #done

77.97153024911032

In [9]:
imdb.Certificate = imdb.Certificate.fillna(imdb.Certificate.value_counts().index[0])
#df.fillna(df['Label'].value_counts().index[0]

In [10]:
imdb.info() #done

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    1000 non-null   object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   object
dtypes: float64(2), object(7)
memory usage: 70.4+ KB

#### making director a 0/1 column
1 if the director is in the top 10 frequent directors else 0

In [11]:
top10dir = list(pd.value_counts(imdb.Director)[:10].index)

In [12]:
dir1 = []
for i in imdb.Director:
    if i in top10dir:
        dir1.append(1)
    else:
        dir1.append(0)

In [13]:
imdb.Director = dir1

#### encoding categorical variables: certificate and genre

In [14]:
cert = np.asarray(imdb.Certificate).reshape(-1,1)
encoder = OrdinalEncoder()
cert = encoder.fit_transform(cert)
cert[:5]

array([[ 1.],
       [ 1.],
       [14.],
       [ 1.],
       [12.]])

In [15]:
cert1 = []
for i in cert:
    cert1.append((int(i[0])))

In [16]:
imdb.Certificate = cert1

In [17]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    1000 non-null   int64
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

for genre, i want to do maybe one hot encoding? because there are multiple possible values for genre. either split it into multiple columns. yes. one hot encoding is better.

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
onehot = OneHotEncoder()

In [20]:
temp_g = onehot.fit_transform(np.asarray(imdb.Genre).reshape(-1,1))

In [21]:
genres = []
for i in imdb.Genre:
    i = i.split(",")
    for j in i:
        genres.append(j.strip())
pd.value_counts(pd.Series(genres))

Drama        724
Comedy       233
Crime        209
Adventure    196
Action       189
Thriller     137
Romance      125
Biography    109
Mystery       99
Animation     82
Sci-Fi        67
Fantasy       66
History       56
Family        56
War           51
Music         35
Horror        32
Western       20
Film-Noir     19
Sport         19
Musical       17
dtype: int64

In [22]:
genres_dict = {}
k = 0
for i in set(genres):
    genres_dict[i] = k 
    k +=1

In [23]:
genres_dict #encoded genres

{'Romance': 0,
 'Sci-Fi': 1,
 'Adventure': 2,
 'Fantasy': 3,
 'Family': 4,
 'Horror': 5,
 'History': 6,
 'Comedy': 7,
 'Action': 8,
 'Thriller': 9,
 'Biography': 10,
 'Sport': 11,
 'Mystery': 12,
 'War': 13,
 'Musical': 14,
 'Drama': 15,
 'Animation': 16,
 'Film-Noir': 17,
 'Crime': 18,
 'Music': 19,
 'Western': 20}

In [24]:
#genres_dict[""] = 21

In [25]:
#genres_dict

In [26]:
gen_arr = []
for i in range(1000):
    gen_arr.append([])
    for j in range(21):
        gen_arr[i].append(0) #1000 rows, 21 cols for each genre
gen_arr = np.asarray(gen_arr)

In [27]:
gen_arr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [28]:
gen1 = []
for i in imdb.Genre:
    genres1 = i.split(",")
    genres1 = [j.strip() for j in genres1]
    gen1.append(genres1)

In [29]:
gg = list(genres_dict.keys())
gg.index('Comedy')

for i in range(len(gen1)):
    for j in gen1[i]:
        #print(j)
        gen_arr[i][gg.index(j)] = 1

In [30]:
genarrt = gen_arr.transpose()

In [31]:
for i in range(len(gg)):
    imdb[gg[i]] = list(genarrt[i])

In [32]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    1000 non-null   int64
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   int64
 9   Romance        1000 non-null   int32
 10  Sci-Fi         1000 non-null   int32
 11  Adventure      1000 non-null   int32
 12  Fantasy        1000 non-null   int32
 13  Family         1000 non-null   int32
 14  Horror         1000 non-null   int32
 15  History        1000 non-null   int32
 16  Comedy         1000 non-null   int32
 17  Action         1000 non-null   int32
 18  Thriller       1000 non-null   int32
 19  Biography      1000 non-null   int32
 20  Sport          1000 non-null   int32
 21  Mystery        1000 non-null   int32
 22  War            1000 non-null   int32
 23  Musical        1000 non-null   int32
 24  Drama          1000 non-null   int32
 25  Animation      1000 non-null   int32
 26  Film-Noir      1000 non-null   int32
 27  Crime          1000 non-null   int32
 28  Music          1000 non-null   int32
 29  Western        1000 non-null   int32
dtypes: float64(2), int32(21), int64(2), object(5)
memory usage: 152.5+ KB

#### convert Released_Year, Runtime to int because it is of type string right now

In [33]:
year = []
time = []
for i in range(1000):
    if imdb.Released_Year[i] != 'PG':
        year.append(int(imdb.Released_Year[i]))
    else:
        year.append(1995) #apollo 13 was released in 1995
    
    time.append(int(imdb.Runtime[i].split(" ")[0]))

In [34]:
imdb.Released_Year = year
imdb.Runtime = time

In [35]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   int64
 2   Certificate    1000 non-null   int64
 3   Runtime        1000 non-null   int64
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   int64
 9   Romance        1000 non-null   int32
 10  Sci-Fi         1000 non-null   int32
 11  Adventure      1000 non-null   int32
 12  Fantasy        1000 non-null   int32
 13  Family         1000 non-null   int32
 14  Horror         1000 non-null   int32
 15  History        1000 non-null   int32
 16  Comedy         1000 non-null   int32
 17  Action         1000 non-null   int32
 18  Thriller       1000 non-null   int32
 19  Biography      1000 non-null   int32
 20  Sport          1000 non-null   int32
 21  Mystery        1000 non-null   int32
 22  War            1000 non-null   int32
 23  Musical        1000 non-null   int32
 24  Drama          1000 non-null   int32
 25  Animation      1000 non-null   int32
 26  Film-Noir      1000 non-null   int32
 27  Crime          1000 non-null   int32
 28  Music          1000 non-null   int32
 29  Western        1000 non-null   int32
dtypes: float64(2), int32(21), int64(4), object(3)
memory usage: 152.5+ KB

## NLP tasks on overvieiw and title

In [64]:
from nltk.corpus import stopwords

verbs: https://github.com/datmt/English-Verbs/blob/master/verbsList <br/>
positive words: https://gist.github.com/mkulakowski2/4289437 <br/>
negative words: https://gist.github.com/mkulakowski2/4289441

In [65]:
pos = open("positive words.txt", "r")
pos = list(pos.read().split("\n"))
neg = open("negative words.txt", "r")
neg = list(neg.read().split("\n"))
verbs = open("verbs.txt", "r")
verbs = list(verbs.read().split("\n"))
stops = set(stopwords.words('english'))

In [66]:
text_all = []
for i in range(1000):
    thing = imdb.Series_Title[i]+". "+imdb.Overview[i]
    text_all.append(thing)

In [70]:
pw = []
nw = []
vv = []
sw = []
for i in text_all:
    p = 0
    n = 0
    v = 0
    s = 0
    for j in i.split():
        if j in pos:
            p+=1
        if j in neg:
            n+=1
        if i in verbs:
            v +=1
        if i in stops:
            s+=1
    pw.append(p)
    nw.append(n)
    vv.append(v)
    sw.append(s)

In [76]:
imdb['positive_words'] = pw
imdb['negative_words'] = nw
imdb['verbs'] = vv
imdb['stopwords'] = sw

In [77]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Series_Title    1000 non-null   object
 1   Released_Year   1000 non-null   int64
 2   Certificate     1000 non-null   int64
 3   Runtime         1000 non-null   int64
 4   Genre           1000 non-null   object
 5   IMDB_Rating     1000 non-null   float64
 6   Overview        1000 non-null   object
 7   Meta_score      1000 non-null   float64
 8   Director        1000 non-null   int64
 9   Romance         1000 non-null   int32
 10  Sci-Fi          1000 non-null   int32
 11  Adventure       1000 non-null   int32
 12  Fantasy         1000 non-null   int32
 13  Family          1000 non-null   int32
 14  Horror          1000 non-null   int32
 15  History         1000 non-null   int32
 16  Comedy          1000 non-null   int32
 17  Action          1000 non-null   int32
 18  Thriller        1000 non-null   int32
 19  Biography       1000 non-null   int32
 20  Sport           1000 non-null   int32
 21  Mystery         1000 non-null   int32
 22  War             1000 non-null   int32
 23  Musical         1000 non-null   int32
 24  Drama           1000 non-null   int32
 25  Animation       1000 non-null   int32
 26  Film-Noir       1000 non-null   int32
 27  Crime           1000 non-null   int32
 28  Music           1000 non-null   int32
 29  Western         1000 non-null   int32
 30  positive_words  1000 non-null   int64
 31  negative_words  1000 non-null   int64
 32  verbs           1000 non-null   int64
 33  stopwords       1000 non-null   int64
dtypes: float64(2), int32(21), int64(8), object(3)
memory usage: 183.7+ KB

#### Trial model : linear regression without any textual features

In [36]:
from sklearn.model_selection import train_test_split

In [78]:
imdb.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Romance',
       'Sci-Fi', 'Adventure', 'Fantasy', 'Family', 'Horror', 'History',
       'Comedy', 'Action', 'Thriller', 'Biography', 'Sport', 'Mystery', 'War',
       'Musical', 'Drama', 'Animation', 'Film-Noir', 'Crime', 'Music',
       'Western', 'positive_words', 'negative_words', 'verbs', 'stopwords'],
      dtype='object')

In [ ]:
plt.figure(figsize = (12,10))
sns.heatmap(imdb[['Released_Year', 'Certificate', 'Runtime',  'Meta_score', 'Director', 'genre1', 'genre2','genre3', 'IMDB_Rating']].corr(), annot = True)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(imdb[['Released_Year', 'Certificate', 'Runtime', \
                                                          'Meta_score', 'Director', 'positive_words', 'negative_words', 'verbs', 'stopwords']],\
                                                    imdb['IMDB_Rating'], test_size=0.3, random_state=42)

In [80]:
from sklearn.linear_model import LinearRegression

In [81]:
lm = LinearRegression().fit(X_train, y_train)

In [82]:
pred = lm.predict(X_test)

In [83]:
from sklearn.metrics import mean_squared_error

In [84]:
rms = mean_squared_error(y_test, pred, squared=False)

In [85]:
rms

0.2515478448697119

In [86]:
lm.coef_

array([-0.00118717, -0.00139418,  0.00218788,  0.00484083,  0.11443452,
       -0.02027484,  0.01803998,  0.        ,  0.        ])

In [87]:
import statsmodels.api as sm

In [88]:
model0 = sm.OLS(y_train, X_train).fit()

In [89]:
model0.summary()

C:\Users\chopr\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            IMDB_Rating   R-squared (uncentered):                   0.999
Model:                            OLS   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                          8.358e+04
Date:                Thu, 25 Nov 2021   Prob (F-statistic):                        0.00
Time:                        13:46:13   Log-Likelihood:                         -85.880
No. Observations:                 700   AIC:                                      185.8
Df Residuals:                     693   BIC:                                      217.6
Df Model:                           7
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Released_Year      0.0036   4.52e-05     79.056      0.000       0.003       0.004
Certificate       -0.0038      0.002     -1.707      0.088      -0.008       0.001
Runtime            0.0016      0.000      4.247      0.000       0.001       0.002
Meta_score         0.0081      0.001      9.015      0.000       0.006       0.010
Director           0.1470      0.036      4.081      0.000       0.076       0.218
positive_words    -0.0110      0.013     -0.857      0.392      -0.036       0.014
negative_words     0.0199      0.010      1.995      0.046       0.000       0.040
verbs                   0          0        nan        nan           0           0
stopwords               0          0        nan        nan           0           0
==============================================================================
Omnibus:                       64.108   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               87.305
Skew:                           0.706   Prob(JB):                     1.10e-19
Kurtosis:                       3.999   Cond. No.                          inf
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""